@import "global";
@import "vars";
@import "fonts";
@import "animation";
@import "icons";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 95px;
    align-items: center;
  }
  &__logo-link {
    max-width: 200px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.header__menu {
  &-item {
    &:nth-child(6) {
      margin-left: 80px;
    }
    &.current {
      .header__menu-link {
        background-color: #ffcc01;
      }
    }
  }
  &-link {
    padding: 13px 15px;
    border-radius: 4px;
    color: #1f373d;
    transition: 0.3s all;
    &:hover {
      background-color: #ffcc01;
      color: #fff;
    }
  }
}
.main-screen {
  margin-bottom: 140px;
  &__inner {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  &__bg {
    max-width: 961px;
    width: 100%;
    min-height: 631px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: -50px;
    position: relative;
  }
  &__info {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffcc01;
    padding: 27.3px 55px;
    &-text {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.45px;
      font-weight: 600;
      color: #1f373d;
      padding-left: 45px;
      position: relative;
      &::before {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      & + & {
        margin-left: 65px;
      }
      transition: 0.3s all;
      &:hover {
        color: #fff;
      }
    }
  }
  &__content {
    position: absolute;
    max-width: 600px;
    left: 0;
    z-index: 3;
    top: 140px;
  }
  &__title {
    font-size: 62px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -1.54px;
    margin-bottom: 45px;
  }
  &__arrow {
    position: absolute;
    left: 0;
    bottom: 15px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    padding-left: 12px;
    color: #919eb1;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    cursor: pointer;
    &::before {
      transform: rotate(90deg);
      transform-origin: 0 0;
      left: 0;
      @include anim-arrow__down;
      animation-iteration-count: infinite;
    }
  }
}
.main-screen__form {
  max-width: 481px;
  &-inner {
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    border-radius: 5px;
    &::before {
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
    }
  }
  &-input {
    max-width: 365px;
    display: block;
    width: 100%;
    min-height: 70px;
    border: none;
    position: relative;
    padding-left: 58px;
    &::placeholder {
      color: #919eb1;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.38px;
    }
  }
  &-btn {
    border: none;
    background-color: #ffcc01;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
    padding: 0 33px;
    white-space: nowrap;
    transition: 0.3s all;
    &:hover {
      color: #fff;
    }
  }
}
.our-company {
  padding-bottom: 75px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 550px;
    width: 100%;
  }
  &__title {
    margin-bottom: 60px;
    max-width: 475px;
  }
  &__text {
    line-height: 30px;
    letter-spacing: -0.33px;
    font-weight: 500;
    p + p {
      margin-top: 40px;
    }
  }
  &__statistics {
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 201px;
    height: 201px;
    background-color: #f6f5f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    &:nth-child(-n+2){
      margin-bottom: 25px;
    }
    &-text {
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.35px;
      margin-top: 10px;
    }
  }
  &__number {
    color: #ffcc01;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
  }
}
